@page
@model PrivacyModel
@{
    ViewData["Title"] = "Sobre nosotros";
}
<h1>@ViewData["Title"]</h1>

<center><h3>Proyecto de catedra de Base de Datos II</h3></center>
<p>3er Año Tecnicatura Superior de Desarollo de Software</p>
<center><img src="~/img/logo.png" /></center>