@page
@model Inscripcion.Pages.TorneoAjedrezModel
@{
    ViewData["Title"] = "Torneo de Ajedrez: Copa Instituto N°20";
}
<center><h1>Torneo de Ajedrez: Copa Instituto N°20</h1></center>
</br>
<p>En el marco de sus 35 años de trayectoria, el Instituto invita al Torneo de Ajedrez, Copa Instituto Superior de Profesorado N°20 “Senador Néstor Zamaro”.</p>
</br>
<img src="~/img/torneoAjedrez.jpg" width="300px" high="300px" style="float:right; margin:20px;" />
<p>El mismo, es organizado por el Círculo de Ajedrez de San Justo y la Biblioteca Popular Mariano Moreno y  se desarrollará el próximo 4 de mayo en el SUM de la institución “Don Horacio José Grosso”, desde las 14 hs.</p>
</br>
<p>Inscripción: $500</p>
<p>Modalidad: Blitz 5m +3´</p>
</br>
<p>Premiación:</p>

<p><li>Campeón Copa Aniversario</li></p>
<p><li>Mejor terna Instituto</li></p>
<p><li>Mejor terna Juvenil</li></p>
<p><li>Mejor terna infantil</li></p>

<p>Se invita a todos los interesados, sumarse a la propuesta.</p>
</br>

<p>Referente Institucional: Prof. Juan Pablo Gaido.</p>
</br>

